uid = nobody
gid = nogroup
max connections = 30
syslog facility = daemon
socket options = SO_KEEPALIVE
timeout = 7200

read only = true
ignore nonreadable = true
strict modes = false

[{{ label_archive }}]
  path = /srv/mirrors/{{ label_archive }}/
#  auth users = *
#  secrets file = /home/archvsync/rsyncd/debian.secrets

[{{ label_archive }}-buildd]
  path = /srv/mirrors/{{ label_archive }}-buildd/

