myhostname = {{ inventory_hostname }}
myorigin = {{ inventory_hostname }}

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
relayhost =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

mailbox_size_limit = 0
recipient_delimiter = +

smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtp_tls_ciphers=high
smtpd_tls_ciphers=high
smtp_tls_protocols=TLSv1 TLSv1.1 TLSv1.2
smtpd_tls_protocols=TLSv1 TLSv1.1 TLSv1.2
smtp_tls_security_level=may
smtpd_tls_security_level=may
