# {{ ansible_managed }}

{% for host in groups[inventory_group | mandatory] | sort %}
object Endpoint "{{ host }}" {
  log_duration = 0
}
object Zone "{{ host }}" {
  endpoints = [ "{{ host }}" ];
{%   if host != inventory_hostname %}
  parent = "{{ icinga2_master_name }}";
{%   endif %}
}
{% endfor %}
