<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Debian mirror</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://www.debian.org/">Debian</a>
        </div>
      </div>
    </nav>

    <div>
      <div class="container">
        <h1>Debian mirror</h1>
        <h2>Available archives</h2>
        <dl>
          <dt><a href="/debian/">Debian main</a></dt><dd>Debian main archive.</dd>
          <dt><a href="/debian-security/">Debian security</a></dt><dd>Debian security archive.</dd>
        </dl>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Debian</h2>
          <p>Debian is a Unix-like computer operating system that is composed entirely of free software and packaged by a group of individuals known as the Debian Project.</p>
        </div>
      </div>

      <hr>

      <footer>
        You reached {{ inventory_hostname }}.
      </footer>
    </div> <!-- /container -->
  </body>
</html>

